<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PixCell forgot Password</title>
    <link rel="stylesheet" href="/css/forgotPassword.css">
</head>
<body>
<div class="container">
    <h1 class="forgot">PixCell</h1>

    <div class="sign-up">
        <p> Enter your phone number,then we'll send you a new password to login.  </p>
    </div>

    <form >
        <span class="span">Phone Number</span>
        <input type="text"  >

        <span class="span">Security Key</span>
        <input type="text">
        <button type="submit">Send Link</button>
    </form>

</div>
</body>
</html>